:root {
    --height-footer: 6rem;
    --header-width: 15rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: black;
    height: calc(100vh - var(--height-footer));
    width: var(--header-width);
}

main {
    background-color: #141922;
    height: calc(100vh - var(--height-footer));
    width: calc(100% - var(--header-width));
    overflow-y: auto;
}

footer {
    background-color: #282828;
    height: var(--height-footer);
    width: 100%;

}






.upgrade {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    height: var(--height-footer);
    width: calc(100% - var(--header-width));

}

.upgrade {
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}

.bottone-upgrade {
    border: 1px solid white;
    border-radius: 2em;
    color: white;
    padding: 1em 2em;
    font-weight: 600;
}

.bottone-upgrade:hover {
    font-weight: 800;
    padding: 1.1em 2.2em;
}






.flex {
    display: flex;
}